NOCODB_URL=https://noco.cuddlebuns.moe
NOCODB_TOKEN=YOUR_TOKEN_HERE
NOCODB_BASE_ID=YOUR_BASE_ID
NOCODB_ARTISTS_TABLE_ID=YOUR_ARTISTS_TABLE_ID
NOCODB_CHARACTERS_TABLE_ID=YOUR_CHARACTERS_TABLE_ID
NOCODB_COMMISSIONS_TABLE_ID=YOUR_COMMISSIONS_TABLE_ID
NOCODB_COLLECTIONS_TABLE_ID=YOUR_COLLECTIONS_TABLE_ID
NOCODB_VERSIONS_TABLE_ID=YOUR_VERSIONS_TABLE_ID
